<%= form_for(@activity_category) do |f| %>
  <% if @activity_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_category.errors.count, "error") %> prohibited this activity_category from being saved:</h2>

      <ul>
      <% @activity_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :categoryId %><br>
    <%= f.text_field :categoryId %>
  </div>
  <div class="field">
    <%= f.label :categoryName %><br>
    <%= f.text_field :categoryName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
