<p id="notice"><%= notice %></p>

<p>
  <strong>Categoryid:</strong>
  <%= @activity_category.categoryId %>
</p>

<p>
  <strong>Categoryname:</strong>
  <%= @activity_category.categoryName %>
</p>

<%= link_to 'Edit', edit_activity_category_path(@activity_category) %> |
<%= link_to 'Back', activity_categories_path %>
