<p id="notice"><%= notice %></p>

<p>
  <strong>Activityid:</strong>
  <%= @activity.activityId %>
</p>

<p>
  <strong>Activityname:</strong>
  <%= @activity.activityName %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
